<%
vote_yes = params[:yes]
vote_no = params[:no]
%>
<div class="center">
  <% if @q_next %>
  <%= link_to('/qs/'+@q_next.unique_id) do %>
  <span class="btn<% if vote_no %> rev<% end %>"><span class="icon-repeat"></span> Randomize</span>
  <% end %>
  <% end %>
</div>
<ul class="listings">
<% @qs.each do |q| %>
<%
yes_v = q.votes
no_v = q.votes_no
%>
  <!--<li
  <%# if !!q.image_yes.blank? %> style="background-image:url(<%#= q.image_yes.url(:large) %>); background-size: cover;" class="img-filter"<%# end %>
  >-->
  <li>
    <%= link_to(q) do %>
    <!--<h1<%# if !q.image_yes.blank? %> class="white"<%# end %><%# if !q.image_no.blank? %> class="white"<%# end %>><%= q.title %></h1>-->
    <h1<% if vote_no || !vote_no && no_v > yes_v %> class="no"<% end %>><%= q.title %></h1>
    <% if q.votes > 0 || q.votes_no > 0 %><small>
      <% if q.votes > 0 %><em><span class="icon-thumbs-up"></span> <%= q.votes %> votes</em><% end %>
      <% if q.votes_no > 0 %><em><span class="icon-thumbs-down"></span> <%= q.votes_no %> votes</em><% end %>
    </small><% end %>
    <!--<p><%= q.description %></p>-->
    <%#= q.votes %> 
    <%#= link_to 'Edit', edit_q_path(q) %> 
    <%#= link_to 'Destroy', q, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>
</ul>
<%#= will_paginate @qs %>
<div class="center">
  <%= link_to(new_q_path) do %>
  <span class="btn<% if vote_no %> rev<% end %>"><span class="icon-plus"></span> Add New Q?</span>
  <% end %>
</div>