<div class="center">
  <%= link_to('/qs/'+@q_next.unique_id) do %>
  <span class="btn"><span class="icon-repeat"></span> Randomize</span>
  <% end %>
</div>
<ul class="listings">
<% @qs.each do |q| %>
<%
yes_v = q.votes
no_v = q.votes_no
%>
  <li
  <% if yes_v > 0 && no_v > 0 %>
  <% if yes_v > no_v %> data-vote="yes"<% elsif no_v > yes_v %> data-vote="no"<% end %>
  <% end %>
  >
    <%= link_to(q) do %>
    <h1><%= q.title %></h1>
    <!--<p><%= q.description %></p>-->
    <%#= q.votes %> 
    <%#= link_to 'Edit', edit_q_path(q) %> 
    <%#= link_to 'Destroy', q, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>
</ul>
<div class="center">
  <%= link_to(new_q_path) do %>
  <span class="btn"><span class="icon-plus"></span> Add New Q?</span>
  <% end %>
</div>