<h1>Listing qs</h1>
<div>
<% @qs.each do |q| %>
  <%= q.title %><br />
  <%= q.description %><br />
  <%= q.votes %><br />
  <%= link_to 'Show', q %> <br />
  <%= link_to 'Edit', edit_q_path(q) %> <br />
  <%= link_to 'Destroy', q, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>

<%= link_to 'New Q', new_q_path %>
