<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1 data-unique-id="<%= @q.unique_id %>"><%= @q.title %></h1>
<p><%= @q.description.html_safe %></p>

<%
yes_v = @q.votes
no_v = @q.votes_no
if yes_v >= 0 && no_v >= 0
total = yes_v + no_v
yes = (yes_v.to_f / total.to_f) * 100
no = (no_v.to_f / total.to_f) * 100
%>
<% if cookies[@q.unique_id] %>
<div class="voted show<% if cookies[@q.unique_id+'-rmv-vote'] %> hide<% end %>" id="voted">
	<h2>Thanks for voting! <span class="icon-remove" id="rmv-vote-thx"></span></h2>
</div>
<% end %>
<% if cookies[@q.unique_id] %>
<% if yes_v == 0 && no_v == 0 %>
<%#= yes_v %>
<%#= no_v %>
<div class="overall">
	<span>We got</span> no votes <span>yet, add yours?</span>
</div>
<% else %>
<div class="overall<% if yes > no %> yes<% elsif no > yes %> no<% end %> t">
	<% if yes > no %>
	<%= yes.to_s.split('.')[0] %>% <span>of peeps say yes.</span>
	<% elsif no > yes %>
	<%= no.to_s.split('.')[0] %>% <span>of peeps say no.</span>
	<% else %>
	<span>The ppl are</span> split 50/50.
	<% end %>
</div>
<% end %>
<% end %>
<% end %>

<hr />

<% if !@q.image_yes.blank? %><%= link_to 'View yes image <span class="icon-external-link"></span>'.html_safe, @q.image_yes.url, :target => '_blank', :class => 'linkable m' %><% end %>
	<% if !@q.image_no.blank? %><%= link_to 'View no image <span class="icon-external-link"></span>'.html_safe, @q.image_no.url, :target => '_blank', :class => 'linkable m' %><% end %>
<div class="wrap cf">
	<div class="votable yes<% if cookies[@q.unique_id] %> ivoted<% end %><% if @q.image_yes.blank? %> no-img-yes<% end %>" id="yes"<% if !@q.image_yes.blank? %> style="background-image:url(<%= @q.image_yes.url(:thumb) %>); background-size: cover;"<% end %>>
		<% if cookies[@q.unique_id] %>
		<% if cookies[@q.unique_id] == 'yes' %>
			<div class="icon-wrap"><div><span class="your-vote icon-thumbs-up"></span></div></div>
		<% else %>
			<div class="icon-wrap"><div><span class="not icon-thumbs-down"></span></div></div>
		<% end %>
			<div class="h-wrap under">
				<div>
					<h2<% if @q.image_yes.blank? %> class="no-img"<% end %>>
						<span><% if @q.votes < 1 %>No<% else %><%= @q.votes %><% end %><% if @q.votes > 1 || @q.votes == 0 %> votes<% else %> vote<% end %></span>
					</h2>
				</div>
			</div>
		<% else %>
		<span class="your-vote icon-thumbs-up notyet"></span>
		<% if @q.votes == '0' %>
		<div class="votes yes">
			<div>
				<%= @q.votes %><% if @q.votes > 1 || @q.votes == 0 %> votes<% else %> vote<% end %>
			</div>
		</div>
		<% end %>
		<div class="h-wrap">
			<div>
				<h2<% if @q.image_yes.blank? %> class="no-img"<% end %>>Yes
					<span><% if @q.votes < 1 %>No<% else %><%= @q.votes %><% end %><% if @q.votes > 1 || @q.votes == 0 %> votes<% else %> vote<% end %></span>
				</h2>
				</div>
			</div>
		<% end %>
	</div>
	<div class="votable no<% if cookies[@q.unique_id] %> ivoted<% end %><% if @q.image_no.blank? %> no-img-no<% end %>" id="no"<% if !@q.image_no.blank? %>  style="background-image:url(<%= @q.image_no.url(:thumb) %>); background-size: cover;"<% end %>>
		<% if cookies[@q.unique_id] %>
		<% if cookies[@q.unique_id] == 'no' %>
			<div class="icon-wrap"><div><span class="your-vote icon-thumbs-up"></span></div></div>
		<% else %>
			<div class="icon-wrap"><div><span class="not icon-thumbs-down"></span></div></div>
		<% end %>
			<div class="h-wrap under">
				<div>
					<h2<% if @q.image_no.blank? %> class="no-img"<% end %>>
						<span><% if @q.votes_no < 1 %>No<% else %><%= @q.votes_no %><% end %><% if @q.votes_no > 1 || @q.votes_no == 0 %> votes<% else %> vote<% end %></span>
					</h2>
				</div>
			</div>
		<% else %>
		<span class="your-vote icon-thumbs-up notyet"></span>
		<% if @q.votes_no == '0' %>
		<div class="votes no">
			<div>
				<%= @q.votes_no %><% if @q.votes_no > 1 || @q.votes_no == 0 %> votes<% else %> vote<% end %>
			</div>
		</div>
		<% end %>
		<div class="h-wrap">
				<div>
					<h2<% if @q.image_no.blank? %> class="no-img"<% end %>>No
						<span><% if @q.votes_no < 1 %>No<% else %><%= @q.votes_no %><% end %><% if @q.votes_no > 1 || @q.votes_no == 0 %> votes<% else %> vote<% end %></span>
					</h2>
				</div>
			</div>
		<% end %>
	</div>
	<% if !@q.image_yes.blank? %><%= link_to 'View image <span class="icon-external-link"></span>'.html_safe, @q.image_yes.url, :target => '_blank', :class => 'linkable d' %><% end %>
	<% if !@q.image_no.blank? %><%= link_to 'View image <span class="icon-external-link"></span>'.html_safe, @q.image_no.url, :target => '_blank', :class => 'linkable d' %><% end %>
</div>

<% if !cookies[@q.unique_id] %>
<% if yes_v == 0 && no_v == 0 %>
<%#= yes_v %>
<%#= no_v %>
<div class="overall">
	<span>We got</span> no votes <span>yet, add yours?</span>
</div>
<% else %>
<div class="overall<% if yes > no %> yes<% elsif no > yes %> no<% end %>">
	<% if yes > no %>
	<%= yes.to_s.split('.')[0] %>% <span>of peeps say yes.</span>
	<% elsif no > yes %>
	<%= no.to_s.split('.')[0] %>% <span>of peeps say no.</span>
	<% else %>
	<span>The ppl are</span> split 50/50.
	<% end %>
</div>
<% end %>
<% end %>

<div class="hide">
<%= form_for(@q) do |q| %>
	<%= q.hidden_field :votes %>
	<%= q.hidden_field :votes_no %>
<% end %>
</div>

<% if @q_next %>
<div class="vote-again">
	<%= link_to(@q_next.unique_id) do %>
	<span class="btn"><span class="icon-repeat"></span> <em>&rsquo;nother</em></span>
	<% end %>
	<%
	url = URI.escape(request.url)
	text = URI.escape(@q.title)
	if cookies[@q.unique_id] == 'yes'
		answer = 'yes'
		response = 'is+true'
	else
		answer = 'no'
		response = 'is+not+true'
	end
	%>
	<%= link_to '<span class="icon-share-alt"></span>'.html_safe, ('https://twitter.com/intent/tweet?text='+answer.capitalize+'+"'+text+'"+'+response+',+what+say+you?++&url='+url), :target => '_blank' %>
	<!--<%= link_to('/') do %>
	<span class="btn"><span class="icon-home"></span></span>
	<% end %>-->
	<% if cookies[@q.unique_id+'-author'] == 'yes' %>
	<%= link_to(edit_q_path(@q)) do %>
	<span class="icon-pencil"></span> <em>edit</em>
	<% end %>
	<% end %>
	<%= link_to(new_q_path) do %>
	<span class="icon-plus"></span>
	<% end %>
</div>
<% end %>

<div class="center">
	<!--<%= link_to(new_q_path) do %>
	<span class="icon-plus"></span>
	<% end %>
	<%= link_to(qs_path) do %>
	<span class="icon-home"></span>
	<% end %>-->
	<%# end %>
</div>