<%
vote_yes = params[:yes]
vote_no = params[:no]
url = request.fullpath.split('?')
%>
<%#= url[0].split('/')[3] %>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><% if @q && url[0].split('/')[2] != 'new' %><%= @q.title %> | <% end %><% if url[0].split('/')[2] == 'new' %>Add a new question | <% end %>Yesno<% if url[0] == '/' %> | Simple yes/no questions for settling big debates.<% end %></title>
		<!--<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Old+Standard+TT:400,700,400italic' rel='stylesheet' type='text/css' />-->
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= csrf_meta_tags %>
		<link rel="apple-touch-icon-precomposed" href="/assets/yesno-icon.png" />
		<link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
		<!--<meta name="robots" content="noodp,noydir" />
		<link rel="robots" href="robots.txt" />-->
</head>
<body<% if url[0] == '/' %> class="home"<% else %> class="inner"<% end %>>
	<% if !cookies[:welcome] %>
	<% if url[0] == '/' %>
		<div class="welcome<% if vote_no %> blue<% end %>" id="welcome">
			<div>
				<h2>
					<img src="/assets/yes.svg" class="yes" />
					<img src="/assets/no.svg" class="no" />
				</h2>
			</div>
		</div>
	<% end %>
	<% end %>
	<div class="wrapper">
		<header>
			<!--<h2><%= link_to('/') do %>
				<strong data-vote="yes"<% if vote_yes %> class="active"<% end %>>yes <span class="icon-thumbs-up"></span></strong>
				<em>:</em>
				<strong data-vote="no"<% if vote_no %> class="active"<% end %>>no <span class="icon-thumbs-down"></span></strong>
			<% end %></h2>-->
			<h2>
				<img src="/assets/yes.svg" class="yes<% if vote_yes %> active<% end %>" id="yes-img" />
				<img src="/assets/no.svg" class="no<% if vote_no %> active<% end %>" id="no-img" />
			</h2>
			<% if vote_yes || vote_no %>
				<div class="center sm" id="remove-params" data-url="<%= request.fullpath.split('?')[0] %>"><span class="icon-remove"></span> Remove Filter?</div><% end %>
		</header>
		<div class="main" role="main">
			<%= yield %>
		</div>
		<footer>
			<a href="http://jefff.co" target="_blank">made with love by jefff</a>
			<span class="icon-bolt" id="info-show"></span>
			<div class="info" id="info">
				<div>
					<strong>yesno</strong> is a simple Ruby on Rails app that allows users (without logging in) to vote on yes or no questions. They can also create their own and share them socailly or with friends. Enjoy, <span class="icon-heart"></span>
				</div>
			</div>
		</footer>
	</div>
	<%= javascript_include_tag "application" %>
	<% if notice %>
	<script>
	SetCookie('<%= @q.title.parameterize %>-author','yes');
	</script>
	<% end %>
	<% if !cookies[:welcome] %>
	<script>
		SetCookie('welcome',1);
		setTimeout(function(){
			$('#welcome').fadeOut(700);
		}, 700);
	</script>
	<% end %>
</body>
</html>
